{{#noBody}}
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
      </div>
    </nav>
  </header>

  <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
            </div>
            <div class="d-grid mx-auto m-2">
              <button type="submit" class="btn btn-success btn-md">Login</button>
            </div>
          </form>
          <div class="text-center">or</div>
          <form action="/oauth/login/facebook" method="GET">
            <div class="d-grid mx-auto m-2">
              <button type="submit" class="btn btn-primary btn-md">Facebook Login</button>
              {{!-- <button type="submit" class="btn btn-primary btn-lg">Facebook Login</button> --}}
            </div>
          </form>
          <div class="text-end">
            <a href="/register">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{{/noBody}}